In [1]:
import os
import numpy as np
import pandas as pd

## movie_genre

In [6]:
current_dir = os.getcwd()
movies_data = pd.read_csv(current_dir + '/data/movies_data.csv')

In [9]:
movies_data = movies_data[['genre1','genre2','genre3']]

In [29]:
movies_data

     genre1 genre2 genre3
0       드라마     액션    스릴러
1        액션     SF    스릴러
2       판타지    로맨스     액션
3       코미디  애니메이션     액션
4        액션     SF    드라마
...     ...    ...    ...
1602    스릴러     액션     범죄
1603    스릴러    NaN    NaN
1604    드라마    코미디    NaN
1605    로맨스    드라마    NaN
1606  애니메이션    드라마    NaN

[1607 rows x 3 columns]

In [34]:
import pandas._testing as tm


def unpivot(frame):
    N, K = frame.shape
    data = {
        "genre": np.asarray(frame.to_numpy()).ravel("F"),
        "movie_id": np.tile(np.asarray(frame.index), K),
    }
    return pd.DataFrame(data, columns=["movie_id", "genre"])


df = unpivot(movies_data)

In [40]:
sorted_df = df.sort_values(by='movie_id').reset_index(drop=True)

In [41]:
sorted_df

      movie_id  genre
0            0    드라마
1            0    스릴러
2            0     액션
3            1     액션
4            1    스릴러
...        ...    ...
4816      1605    로맨스
4817      1605    드라마
4818      1606    드라마
4819      1606  애니메이션
4820      1606    NaN

[4821 rows x 2 columns]

In [43]:
genre = pd.read_csv(current_dir + '/data/genre.csv')

In [48]:
genre.rename(columns={'Unnamed: 0': 'genre_id'}, inplace=True)

In [49]:
df_left_join = pd.merge(sorted_df, genre, left_on='genre', right_on='genre', how='left')
df_left_join

      movie_id  genre  genre_id
0            0    드라마      12.0
1            0    스릴러      15.0
2            0     액션       0.0
3            1     액션       0.0
4            1    스릴러      15.0
...        ...    ...       ...
4816      1605    로맨스       6.0
4817      1605    드라마      12.0
4818      1606    드라마      12.0
4819      1606  애니메이션      10.0
4820      1606    NaN       NaN

[4821 rows x 3 columns]

In [53]:
df_left_join = df_left_join.dropna()

In [55]:
df_left_join['genre_id'] = df_left_join['genre_id'].astype(int)

/var/folders/4w/4hfq6k852wg71r8sw418pl_40000gn/T/ipykernel_52831/436565277.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_left_join['genre_id'] = df_left_join['genre_id'].astype(int)

In [57]:
movie_genre = df_left_join[['movie_id', 'genre_id']]

In [59]:
movie_genre.to_csv(current_dir+'/data/movie_genre.csv', index=False)

## genre_keyword

In [61]:
genre

    genre_id           genre
0          0              액션
1          1             코미디
2          2           다큐멘터리
3          3             판타지
4          4              공포
5          5              음악
6          6             로맨스
7          7             스포츠
8          8              서부
9          9  Made in Europe
10        10           애니메이션
11        11              범죄
12        12             드라마
13        13              역사
14        14              가족
15        15             스릴러
16        16              SF
17        17              전쟁
18        18      Reality TV

In [80]:
genre_value = ['액션','액션', '액션', '코미디', '코미디', '다큐멘터리', '판타지', '판타지', '공포', '음악', '로맨스','로맨스', '스포츠', '서부', 'Made in Europe', '애니메이션', '범죄', '드라마', '역사', '가족', '스릴러', 'SF','SF','SF', '전쟁',  '전쟁', 'Reality TV']
keyword = ['권선징악', '긴장', '음직임', '웃음', '유머', '일상', '환상', '상상', '귀신', '뮤지컬', '사랑','연애', '운동', '서부', '프랑스', '만화', '살인', '드라마', '조선', '부모님', '스릴러', '외계인','우주','중력', '군대', '죽음', '실제']

In [86]:
genre_keyword = pd.DataFrame(columns=['장르', 'keyword'])

In [91]:
genre_keyword['장르'] = genre_value
genre_keyword['keyword'] = keyword

In [92]:
genre_keyword

                장르 keyword   키워드
0               액션    권선징악  권선징악
1               액션      긴장    긴장
2               액션     음직임   음직임
3              코미디      웃음    웃음
4              코미디      유머    유머
5            다큐멘터리      일상    일상
6              판타지      환상    환상
7              판타지      상상    상상
8               공포      귀신    귀신
9               음악     뮤지컬   뮤지컬
10             로맨스      사랑    사랑
11             로맨스      연애    연애
12             스포츠      운동    운동
13              서부      서부    서부
14  Made in Europe     프랑스   프랑스
15           애니메이션      만화    만화
16              범죄      살인    살인
17             드라마     드라마   드라마
18              역사      조선    조선
19              가족     부모님   부모님
20             스릴러     스릴러   스릴러
21              SF     외계인   외계인
22              SF      우주    우주
23              SF      중력    중력
24              전쟁      군대    군대
25              전쟁      죽음    죽음
26      Reality TV      실제    실제

In [93]:
df_left_join = pd.merge(genre_keyword, genre, left_on='장르', right_on='genre', how='left')

In [95]:
df_left_join[['genre_id','keyword']].to_csv(current_dir + '/data/genre_keyword_sample.csv', index=False)