In [2]:
from selenium import webdriver
import pandas as pd
import time, os
import urllib.request
import datetime

def doScrollDown(whileSeconds):
    start = datetime.datetime.now()
    end = start + datetime.timedelta(seconds=whileSeconds)
    while True:
        driver.execute_script('window.scrollTo(0, document.body.scrollHeight);')
        time.sleep(1)
        if datetime.datetime.now() > end:
            break

In [49]:
current_dir = os.getcwd()
contents = pd.read_csv(current_dir + '/data/contents.csv')

In [50]:
df = contents[['id', 'title', 'type']]

In [51]:
df

       id            title     type
0       0             모가디슈    Movie
1       1               베놈    Movie
2       2            스파이더맨    Movie
3       3    스파이더맨: 뉴 유니버스    Movie
4       4       스파이더맨: 홈커밍    Movie
..    ...              ...      ...
194  1981  나만 믿고 따라와, 도시어부  TV_Show
195  1985              원펀맨  TV_Show
196  1988          이태원 클라쓰  TV_Show
197  2003               킹덤  TV_Show
198  2012             D.P.  TV_Show

[199 rows x 3 columns]

In [52]:
title_list = list(df['title'].values)

In [69]:
# eng_titles = []
# options = webdriver.ChromeOptions()
# options.add_argument('headless')

# driver = webdriver.Chrome(current_dir+"/driver/chromedriver", options=options)

for i in tqdm(range(171, 199)):
    url = "https://www.justwatch.com/kr/검색?q={}".format(title_list[i])
    driver.get(url)
    time.sleep(1)
    element = driver.find_elements_by_css_selector(".title-poster")[0]
    driver.execute_script("arguments[0].click();", element)
    time.sleep(1)
    try:
        eng_title = driver.find_element_by_xpath('//*[@id="base"]/div[2]/div/div[2]/div[2]/div[1]/div[1]/h3').text[4:]
        eng_titles.append(eng_title)
    except:
        eng_titles.append(' ')

driver.close()

100%|██████████| 28/28 [01:36<00:00,  3.46s/it]

In [70]:
i

198

In [71]:
len(eng_titles)

199

In [72]:
eng_titles

[' ',
 'Venom',
 'Spider-Man',
 'Spider-Man: Into the Spider-Verse',
 'Spider-Man: Homecoming',
 'The Power of the Dog',
 "Don't Look Up",
 'Spider-Man: Far From Home',
 'The Amazing Spider-Man',
 'The Platform',
 ' ',
 'Spider-Man 2',
 'Promising Young Woman',
 'The Amazing Spider-Man 2',
 'tick, tick… BOOM!',
 'A Rainy Day in New York',
 ' ',
 'The Unforgivable',
 'I See You',
 'Spider-Man 3',
 'Blanche comme neige',
 'The Notebook',
 'The Shawshank Redemption',
 'Love Actually',
 'Carol',
 'Django Unchained',
 ' ',
 'Eternal Sunshine of the Spotless Mind',
 'La La Land',
 ' ',
 'The Croods: A New Age',
 'Her',
 'Gravity',
 'Fifty Shades Freed',
 'ร่างทรง',
 'Vivarium',
 'The Children Act',
 '砕け散るところを見せてあげる',
 'Enter the Dragon',
 'The Holiday',
 'Alien: Covenant',
 'Le Sommet des dieux',
 ' ',
 'Interstellar',
 'mid90s',
 'Searching',
 'Red Notice',
 'The Great Gatsby',
 'Shutter Island',
 'Girl, Interrupted',
 'District 9',
 ' ',
 ' ',
 '17 Again',
 'Raiders of the Lost Ark',
 'La vita è bella',
 ' ',
 'Una Navidad no tan padre',
 'Half Brothers',
 'Once Upon a Time… in Hollywood',
 'The Cleanse',
 'Notting Hill',
 'Yes Man',
 'All the Money in the World',
 'Charlie and the Chocolate Factory',
 'The Guilty',
 ' ',
 'Les Misérables',
 ' ',
 'Jack Reacher',
 ' ',
 'No Country for Old Men',
 ' ',
 'The Big Short',
 ' ',
 'A California Christmas: City Lights',
 ' ',
 ' ',
 'Klaus',
 'Mad Max: Fury Road',
 'Romeo + Juliet',
 'Contratiempo',
 'Paddington',
 'The King',
 ' ',
 ' ',
 ' ',
 'About Time',
 'Ghostbusters',
 ' ',
 ' ',
 'The Imitation Game',
 'Pacific Rim',
 'Sonic the Hedgehog',
 '劇場版 ポケットモンスター ミュウツーの逆襲 EVOLUTION',
 'Ex Machina',
 'धमाका',
 'Forrest Gump',
 'Gone Girl',
 'Before Sunrise',
 'Mamma Mia!',
 ' ',
 ' ',
 ' ',
 'Basic Instinct',
 ' ',
 'Fifty Shades of Grey',
 ' ',
 ' ',
 ' ',
 ' ',
 ' ',
 'Saving Private Ryan',
 ' ',
 ' ',
 'Terminator 2: Judgment Day',
 'El laberinto del fauno',
 ' ',
 ' ',
 'Rise of the Guardians',
 'Twilight',
 '3 Idiots',
 'Escape Room',
 'Suicide Squad',
 'Memento',
 ' ',
 'The Departed',
 'Midnight in Paris',
 '千と千尋の神隠し',
 'Back to the Future',
 '君の名は。',
 'Ghost in the Shell',
 'Batman Begins',
 'Jurassic World',
 ' ',
 '劇場版「鬼滅の刃」無限列車編',
 ' ',
 'Men in Black 3',
 '后来的我们',
 'Baby Driver',
 'Jumanji: Welcome to the Jungle',
 ' ',
 'Transformers: Age of Extinction',
 'The Hunger Games',
 'Now You See Me 2',
 'Men in Black',
 'Minority Report',
 'Star Trek',
 'Sex and the City',
 'Jurassic Park',
 ' ',
 ' ',
 '鬼滅の刃',
 'Homeland',
 'The Witcher',
 ' ',
 ' ',
 ' ',
 'Arcane',
 ' ',
 ' ',
 ' ',
 '犬夜叉',
 'Cowboy Bebop',
 'Rick and Morty',
 ' ',
 'South Park: Bigger, Longer & Uncut',
 'The Walking Dead',
 'Lost in Space',
 'Emily in Paris',
 ' ',
 '進撃の巨人',
 ' ',
 'SpongeBob SquarePants',
 ' ',
 ' ',
 'Gossip Girl',
 'Hotel Del Luna',
 'Designated Survivor',
 ' ',
 ' ',
 ' ',
 '쓸쓸하고 찬란하神-도깨비',
 ' ',
 ' ',
 ' ',
 'We Bare Bears',
 ' ',
 'Snowpiercer',
 ' ',
 "The Queen's Gambit",
 "Hell's Kitchen",
 ' ',
 ' ',
 ' ',
 'ワンパンマン',
 ' ',
 ' ',
 ' ']

In [75]:
df['original_title'] = eng_titles

/var/folders/4w/4hfq6k852wg71r8sw418pl_40000gn/T/ipykernel_81585/2628982197.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['original_title'] = eng_titles

In [77]:
df[df['original_title']==' ']

       id            title     type original_title
0       0             모가디슈    Movie
10     10               인질    Movie
16     18               기적    Movie
26     36           가려진 시간    Movie
29     39             애비규환    Movie
..    ...              ...      ...            ...
193  1977              시그널  TV_Show
194  1981  나만 믿고 따라와, 도시어부  TV_Show
196  1988          이태원 클라쓰  TV_Show
197  2003               킹덤  TV_Show
198  2012             D.P.  TV_Show

[65 rows x 4 columns]

In [78]:
df.to_csv(current_dir+'/data/original_title.csv', index=False)

In [3]:
current_dir = os.getcwd()
df = pd.read_csv(current_dir + '/data/original_title.csv')

In [4]:
df

       id            title     type                     original_title
0       0             모가디슈    Movie
1       1               베놈    Movie                              Venom
2       2            스파이더맨    Movie                         Spider-Man
3       3    스파이더맨: 뉴 유니버스    Movie  Spider-Man: Into the Spider-Verse
4       4       스파이더맨: 홈커밍    Movie             Spider-Man: Homecoming
..    ...              ...      ...                                ...
194  1981  나만 믿고 따라와, 도시어부  TV_Show
195  1985              원펀맨  TV_Show                             ワンパンマン
196  1988          이태원 클라쓰  TV_Show
197  2003               킹덤  TV_Show
198  2012             D.P.  TV_Show

[199 rows x 4 columns]